NAUKRI_BASE_URL=https://www.naukri.com
NAUKRI_EMAIL=vikaskumarsingh0931@gmail.com
NAUKRI_PASSWORD=m7Y2PSz2K4TJACc
NAUKRI_PROFILE_1_NAME=Profile 1
NAUKRI_PROFILE_1_EMAIL=vikaskumarsingh0931@gmail.com
NAUKRI_PROFILE_1_PASSWORD=m7Y2PSz2K4TJACc
NAUKRI_PROFILE_2_NAME=Profile 2
NAUKRI_PROFILE_2_EMAIL=vikaskumarsinghqa@gmail.com
NAUKRI_PROFILE_2_PASSWORD=NBbHUD&PHwH7$*T
BROWSER=chromium
HEADLESS=false
DEFAULT_TIMEOUT=30000
ACTION_TIMEOUT=15000
NAVIGATION_TIMEOUT=45000
SLOW_MO=0
NAUKRI_GEO_LAT=28.5355
NAUKRI_GEO_LON=77.3910
MAX_JOB_APPLICATIONS_PER_KEYWORD=2
MAX_JOBS_TO_SCAN_PER_KEYWORD=10
MIN_JOBS_TO_ATTEMPT_PER_KEYWORD=2
MAX_RECOMMENDATIONS_TO_CHECK=10
MAX_MATCHING_RECOMMENDATIONS_TO_PROCESS=5
